 
 
 body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      background-color: white;
        }
:root{
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  --primary-color:#5BAFFF;
  --secondary-color: #f5f2fe;
  --brand-color:#5BAFFF;
  --brand-color-opactity: #b56be6c6;
  
}
    .container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .header {
      width: 100%;
      border-radius: 10px;
    }
    .header h1 {
      margin: 0;
    }

    .text-center{
  text-align: center!important;
 }


    nav li.active a{
      color: var(--brand-color);
    }

    .nav-item-style{
      display: flex;
      justify-content: center;
      align-items: center !important; 
      margin-left: 30px;
    }

    .nav-bar{
      background-color: white;
      border: 1px solid lightgrey;
      border-radius: 10px;
    }

    .logo-img{
     width: 40%;
     height: 60%;
    }

  
  
