/* h1, h2{
    color:white;
} */

/* .introduction{
    display: flex;
    margin-top: 50px;
} */

   .buttons {
    margin: 20px;
    border-radius: 4px;
    padding: 20px 15px;
    text-decoration: none;
    text-transform: capitalize;
    }

    

